.banner {
  background-color: #c4c4c4;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/home/banner_img_s.jpg);
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/home/banner_img_s_x2.jpg);
  }

  @media (min-width: $tablet) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/home/banner_img_m.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/home/banner_img_m_x2.jpg);
    }
  }
  @media (min-width: $desktop) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/home/banner_img_l.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/home/banner_img_l_x2.jpg);
    }
  }

  &__header {
    margin-bottom: 30px;
    color: $white;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: $mobile) {
      width: 360px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: calc(60 / 44);
      width: 696px;
    }
  }
}
