.banner {
  background-color: #c4c4c4;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;

  &__header {
    margin-bottom: 30px;
    color: $white;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: $mobile) {
      width: 360px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $tablet) {
    }
    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: calc(60 / 44);
      width: 696px;
    }
  }
}

h1 {
  margin: 0;
  padding: 0;
}
