.button {
  color: $white;
  background-color: $project-main;
  border: 0px;
  border-radius: 4px;

  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
