.clients {
  padding: 60px 0;
  margin: 0 auto;

  @media (min-width: $desktop) {
    padding: 94px 0 97px;
  }

  &__list {
    padding-top: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0 auto;

    @media (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    fill: $icon-grey;
    height: 92px;
    width: 210px;
    padding-top: 16px auto;
    border: 1px solid $icon-grey;
    transition: fill 250ms;
    transition-timing-function: $cubic;

    &:focus,
    &:hover {
      fill: $project-main;
      border-color: $project-main;
    }
  }
  &__icon {
    width: 210px;
    height: 92px;
  }
}
