.clients {
  padding: 94px 0 97px;

  &__list {
    padding-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 auto;
  }

  &__item {
    fill: $grey;
    height: 92px;
    width: 170px;
    border: 1px solid $grey;
    transition: fill 250ms;
    transition-timing-function: $cubic;

    &:focus,
    &:hover {
      fill: $project-main;
      border-color: $project-main;
    }
  }
}

@media (max-width: 767px) {
  .clients {
    width: 100%;
    padding: 0;
    &__list {
      flex-wrap: wrap;
      flex-basis: calc(100% / 2);
      margin-bottom: 30px;
    }
  }
}
