.container {
  width: 100%;
  margin: auto auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $mobile) {
    width: $mobile;
  }
  @media (min-width: $tablet) {
    width: $tablet;
  }
  @media (min-width: $desktop) {
    width: $desktop;
  }
}
