.footer {
  background-color: $background;
  color: #fff;
  padding: 57px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }

  &__address {
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    line-height: 1.71;
    padding-top: 20px;
  }

  &__contact {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;

    &--email {
      text-decoration: none;
      display: block;
      padding: 9px 0;
    }

    &:hover,
    &:focus {
      color: $project-main;
      transition: 250ms;
      transition-timing-function: $cubic;
    }
  }

  &__social {
    padding-top: 12px;
  }

  &__header {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $white;
    text-transform: uppercase;
    margin: 0 auto;
  }

  &__icons {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 10px;
    padding-left: 0;
    margin: 0;
    fill: $white;
    padding-top: 20px;
  }

  &__item {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    transition: 250ms;
    transition-timing-function: $cubic;

    &:focus,
    &:hover {
      background-color: $project-main;
    }
  }

  &__svg {
    margin-top: 5px;
  }

  &__subscribtion {
    padding-top: 12px;
  }

  &__form {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

  &__input {
    background-color: $background;
    line-height: 1.25;
    width: 350px;
    padding: 14px 0 14px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    outline: none;
    transition: 250ms $cubic;

    &:hover,
    &:focus {
      background-color: $background;
      color: rgba(255, 255, 255, 0.6);
      border: 2px solid $project-main;
    }
  }

  &__button {
    position: relative;
    padding: 10px 15px 10px 42px;
    display: flex;
    align-content: center;
  }

  &__send {
    position: absolute;
    right: 28px;
  }
}

@media (max-width: 767px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
