.header {
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  font-size: 14px;

  &__content {
    display: flex;
    align-items: center;
  }
  &__icon--mobile-menu {
    background-color: transparent;
    display: inline-flex;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media (min-width: $tablet) {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: $project-main;
  font-size: 24px;
  padding: 16px 0;
  margin-right: auto;

  @media (min-width: $tablet) {
    padding: 26px 0;
    margin-right: 88px;
  }
  @media (min-width: $desktop) {
    margin-right: 93px;
    padding: 25px 0;
  }

  &--black {
    color: $black;
  }

  &--white {
    color: $white;
  }
}

.header__nav-list {
  list-style: none;
  display: none;
  color: $project-black;
  text-decoration: none;
  padding: 0;
  transition: 250ms;
  transition-timing-function: $cubic;

  @media (min-width: $tablet) {
    display: flex;
    gap: 50px;
  }

  @media (min-width: $desktop) {
    margin-right: 345px;
  }

  &--active {
    position: relative;
    color: $project-main;

    &::after {
      content: "";
      width: 100%;
      height: 4px;
      top: 44px;
      position: absolute;
      display: block;
      background: $project-main;
      border-radius: 2px;
    }
  }

  &--inactive {
    color: $project-black;
  }

  & a:hover,
  & a:focus {
    color: $project-main;
    transition: color 250ms $cubic;
  }
}

.header__contact {
  position: relative;
  color: $grey;
  fill: $grey;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 16px;
  transition: 250ms;
  transition-timing-function: $cubic;

  @media (min-width: $desktop) {
    font-size: 14px;
    display: flex;
    align-content: center;
    gap: 10px;
  }

  &-wrapper {
    display: none;
    list-style: none;

    @media (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      margin-left: 84px;
    }

    @media (min-width: $desktop) {
      margin: 0 auto;
      padding-left: 0px;
      gap: 30px;
      align-items: center;
    }
  }

  &-item {
    margin-top: 8px;

    &:focus,
    &:hover {
      color: $project-main;
      fill: $project-main;
      transition: color 250ms $cubic;
    }

    &:hover svg {
      color: $project-main;
      fill: $project-main;
      transition: color 250ms $cubic;
    }
    @media (min-width: $desktop) {
      margin: 0 auto;
    }
  }

  &:hover,
  &:focus {
    color: $project-main;
    transition: 250ms;
    transition-timing-function: $cubic;
    fill: $project-main;
  }
}

.header__icon {
  display: inline;
  fill: $grey;
  height: 16px;
  align-items: center;
  transition-property: fill;
  transition: 250ms;
  transition-timing-function: $cubic;

  &--mail {
    fill: $grey;
    padding-top: 1px;

    @media (min-width: $tablet) {
      margin-right: 6px;
      width: 14px;
      height: 10px;
    }
    @media (min-width: $desktop) {
      width: 12px;
      height: 16px;
    }
  }

  &--smartphone {
    padding-top: 8px;

    @media (min-width: $tablet) {
      margin-right: 10px;
      width: 10px;
      height: 14px;
    }
    @media (min-width: $desktop) {
      width: 10px;
      height: 16px;
      padding: 0;
      margin: 0 auto;
    }
  }
  &:hover {
    color: $project-main;
    fill: $project-main;
    transition: 250ms;
    transition-timing-function: $cubic;
  }
}

.header__contact--smartphone a:hover .header__contact {
  color: $project-main;
  transition: color 250ms $cubic;
}
