.main-article {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
  // padding-inline-start: 0;
  @media (min-width: $desktop) {
    flex-wrap: nowrap;
  }

  &__item {
    width: 290px;
    @media (min-width: $mobile) {
      width: 450px;
    }
    @media (min-width: $tablet) {
      width: 354px;
    }
    @media (min-width: $desktop) {
      width: 270px;
    }
  }

  &__image {
    margin: auto;
    width: 290px;
    height: 120px;
    background-color: $background-white;

    @media (min-width: $mobile) {
      width: 450px;
    }
    @media (min-width: $tablet) {
      width: 354px;
    }
    @media (min-width: $desktop) {
      width: 270px;
    }
  }

  &__svg {
    padding-top: 25px;
    padding-left: 110px;

    @media (min-width: $mobile) {
      padding-left: 190px;
    }

    @media (min-width: $tablet) {
      padding-left: 142px;
    }
    @media (min-width: $desktop) {
      padding-left: 100px;
    }
  }

  &__paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $grey;
    margin: 0 auto;
    width: 290px;

    @media (min-width: $mobile) {
      width: 450px;
    }
    @media (min-width: $tablet) {
      width: 354px;
    }

    @media (min-width: $desktop) {
      width: 270px;
    }
  }

  &__header {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;

    @media (min-width: $tablet) {
      text-align: left;
    }
  }
}

.services {
  background-color: $white;
  margin: 0 auto;
  padding-bottom: 94px;
  display: none;

  &__content {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 50px;
    margin: 0;
    padding-left: 0;
  }

  &__description {
    position: absolute;
    width: 370px;
    padding: 27px 0 27px;
    text-transform: uppercase;
    color: $white;
    margin-top: -73px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    background: rgba(47, 48, 58, 0.8);
  }
}

@media (max-width: 767px) {
  .main-article {
    width: 100%;
    flex-direction: column;
    align-items: center;

    &image {
      width: 100%;
    }
  }
  .services__content {
    flex-direction: column;
    align-items: center;
  }
}
