.portfolio-filter {
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    padding-left: 0;
    margin: 0 auto;

    @media (min-width: $tablet) {
      justify-content: center;
    }
    @media (min-width: $desktop) {
      justify-content: center;
    }
  }

  &__button {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    border: 0px;
    text-align: center;
    padding: 6px 22px;
    letter-spacing: 0.03em;
    border-radius: 4px;
    color: $project-black;
    background-color: $background-white;

    &:hover,
    &:focus {
      color: $white;
      background-color: $project-main;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      transition: 250ms;
      transition-timing-function: $cubic;
    }
  }
}
