.team {
  background-color: $background-white;
  font-size: 16px;
  margin: 0 auto;

  &__section-header {
    padding-top: 60px;
    padding-bottom: 30px;

    @media (min-width: $desktop) {
      padding-top: 94px;
      padding-bottom: 50px;
    }
  }

  &__item {
    width: 450px;

    @media (min-width: $tablet) {
      width: 354px;
    }

    @media (min-width: $desktop) {
      width: 270px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 0 60px 0;
    margin: 0 auto;
    @media (min-width: $desktop) {
      padding-bottom: 94px;
    }
  }

  &__member {
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 0;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__header {
    font-size: 16px;
    font-weight: 500;
    color: $project-black;
    margin: 0 auto;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 30px;
    letter-spacing: 00.03em;
    color: $grey;
  }

  &__paragraph {
    margin: 0 auto;
  }

  &__social-links {
    list-style: none;
    fill: $icon-grey;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-content: center;
    margin: 0 auto;
  }

  &__social-background {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms;
    transition-timing-function: $cubic;

    &:hover,
    &:focus {
      fill: $white;
      background-color: $project-main;
    }
  }

  &__icon {
    margin-top: 4px;
  }
}
