a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size-adjust: none;
  color: $project-black;
  margin: 0 auto;
  border: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
}

:hover,
:focus {
  transition: var(--transition-duration);
  transition-timing-function: $cubic;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1 {
  margin: 0;
  padding: 0;
}
